@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/core/all";
@import "~lbh-frontend/lbh/objects/all";

.button {
  display: block;
  max-width: 300px;

  @include lbh-font;
  border-radius: 4px;
  @include lbh-rem(font-size, 19);
  font-weight: $lbh-font-weight-regular;
  @include lbh-rem(line-height, 38);

  @include lbh-rem(padding, 13, 22, 11);
  border: 1px solid lbh-colour("lbh-a01");

  color: lbh-colour("lbh-a01");
  background: lbh-colour("lbh-white");

  padding-left: 60px;
  margin: 0 auto;

  &:hover {
    color: lbh-colour("lbh-white");
    background: lbh-colour("lbh-primary-button");
  }

  &:before {
    display: block;
    width: 40px;
    height: 40px;
    content: " ";
    background: url("./google-logo.svg") no-repeat center center transparent;
    margin-left: -50px;
    float: left;
  }
}
